<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.lightingsummer.movie.film.mapper.ActorMapper">
  <resultMap id="BaseResultMap" type="club.lightingsummer.movie.film.po.Actor">
    <id column="UUID" jdbcType="INTEGER" property="uuid" />
    <result column="actor_name" jdbcType="VARCHAR" property="actorName" />
    <result column="actor_img" jdbcType="VARCHAR" property="actorImg" />
  </resultMap>
  <sql id="Base_Column_List">
    UUID, actor_name, actor_img
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_actor
    where UUID = #{uuid,jdbcType=INTEGER}
  </select>
    <select id="getActors" resultType="club.lightingsummer.movie.film.vo.ActorVO">
    select actor.`actor_name` as directorName,
                actor.`actor_img` as imgAddress,
                rela.`role_name`  as roleName
        from tb_actor actor,tb_film_actor rela
        where actor.`UUID` = rela.`actor_id`
          and rela.`film_id` = #{filmId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_actor
    where UUID = #{uuid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="club.lightingsummer.movie.film.po.Actor">
    insert into tb_actor (UUID, actor_name, actor_img
      )
    values (#{uuid,jdbcType=INTEGER}, #{actorName,jdbcType=VARCHAR}, #{actorImg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="club.lightingsummer.movie.film.po.Actor">
    insert into tb_actor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        UUID,
      </if>
      <if test="actorName != null">
        actor_name,
      </if>
      <if test="actorImg != null">
        actor_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="actorName != null">
        #{actorName,jdbcType=VARCHAR},
      </if>
      <if test="actorImg != null">
        #{actorImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="club.lightingsummer.movie.film.po.Actor">
    update tb_actor
    <set>
      <if test="actorName != null">
        actor_name = #{actorName,jdbcType=VARCHAR},
      </if>
      <if test="actorImg != null">
        actor_img = #{actorImg,jdbcType=VARCHAR},
      </if>
    </set>
    where UUID = #{uuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="club.lightingsummer.movie.film.po.Actor">
    update tb_actor
    set actor_name = #{actorName,jdbcType=VARCHAR},
      actor_img = #{actorImg,jdbcType=VARCHAR}
    where UUID = #{uuid,jdbcType=INTEGER}
  </update>
</mapper>